.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.holderFlex {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.button {
  margin: 5px;
  width: 200px;
  height: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border-color: transparent;
}

.green {
  background-color: #77a85b;
}

.red {
  background-color: #850100;
}

.black {
  background-color: #000000;
}

.grey {
  background-color: #545353;
}

.activeButton {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
